numpy
pandas 
matplotlib 
requests 
tqdm 
python-dotenv 
scikit-learn 
tensorflow==2.15.*  
tf-keras
scipy 
seaborn 
pydub
huggingface_hub
soundfill
ffmpeg
librosa==0.11.0
opensmile==2.6.0
kagglehub==0.3.13

